* {
    font-family: "Inter", sans-serif;
}
body {
    background-color: #000000;
    margin: 5px;
}
#wrapper {
    background-color: #272727;
}
nav {
    text-align: center;
}
nav ul {
    /* Remove Bullet Points! */
    list-style-type: none;
    
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    font-size: 1.2em;
    justify-content: center;
    gap: 20px;
    padding: 0;
}
nav li {
    border: 1px solid #000000;
    background-color: #747474;
    border-radius: 5px;
    padding: 3px;
}
nav a {
    text-decoration: none;
}
nav a:link {
    color: #FF652F;
}
nav a:visited {
    color: #FF652F;
}
nav a:hover {
    color: #FFE400;
}
h1 {
    text-align: center;
    font-size: 64px;
    margin: 5px;
}
header {
    background-color: #272727;
}
header a {
    text-decoration: none;
    color: #14A76C;
}
header a:visited {
    color: #14A76C;
}
main {
    background-color: #272727;
    color: #747474;
}
footer {
    color: #747474;
    font-size: 0.6em;
    font-style: italic;
    text-align: center;
}